.container {
  padding: 4rem;
  & > article {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 5rem;
    & > div {
      align-self: flex-start;
    }

    & > textarea {
      border: 1px solid;
      border-radius: 10px;
      border-color: #36f;
      padding: 1rem;
      resize: none;
      outline: none;
      width: 100% !important;
      height: 10rem !important;
    }

    & > button {
      padding: 1rem 2rem;
      border-radius: 50px;
      border: 1px solid;
      background-color: #ffffff;
      border-color: #36f;
      color: #36f;
      cursor: pointer;
      align-self: flex-end;
    }
  }
}
