.Wrapper {
  display: flex;
  flex-direction: column;
  width: 38rem;
  height: 28.8rem;
  border: solid black;
}

.Top {
  flex: 1;
  display: flex;
  justify-content: space-between;
  .ProfileImage {
    flex: 1;
    margin: 0.4rem;
    text-align: center;
  }
  .UserStatus {
    display: flex;
    flex: 5;
    align-items: center;
    .StatusItem {
      flex: 1;
      margin: 0.4rem;
      text-align: center;
    }
  }
  .Share {
    flex: 1;
  }
}

.Mid {
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  .OneLineIntro {
    margin-bottom: 1rem;
  }
  .DetailedIntro {
    height: 9.6rem;
    overflow: hidden;
  }
}

.Bot {
  flex: 1;
  justify-content: space-between;
  margin: 1rem;
  .InterestsTitle {
    margin-bottom: 1rem;
  }
  .InterestsList {
    display: flex;
    flex-direction: row;
    .ListItem {
      margin-right: 1rem;
      border: solid black;
      padding: 0.2rem;
      border-radius: 0.4rem;
    }
  }
}
