.page {
  position: relative;
  width: 120rem;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
  padding: 3rem 7rem;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 3.2rem;
}

.list {
  display: flex;

  li {
    text-align: center;
    margin-left: 2rem;
    cursor: pointer;
  }
}

.pagination {
  background-color: rgb(233, 238, 238);
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 20px;
    }
  }
}
