.page {
  // 페이지 전체적으로 적용되는 속성들이 여기에 들어갑니다.
  position: relative;
  width: 120rem;
  margin: 0 auto; /* 가로 중앙 정렬을 위해 margin 속성을 사용합니다. */
  .header {
    // 헤더가 들어갈 공간을 설정해둔 공간입니다
    width: 120rem;
    height: 9.6rem;
    background-color: gray;
    margin-bottom: 3.2rem;
  }
  .contentLayout {
    // 헤더를 제외한 모든 요소들이 들어갈 공간에 대한 속성들이 여기에 들어갑니다.
    max-width: 118rem;
    margin: 0 auto;
    border: solid black;
    .contentCenter {
      // 배너를 제외한 중앙에 들어가는 모든 요소들이 포함됩니다
      display: flex; /* display 속성을 flex로 설정합니다. */
      justify-content: space-between; /* 요소들을 좌우로 정렬합니다. */
      margin-bottom: 3.2rem;
      .contentRight {
        // 우측에 위치하게 될 컴포넌트들에 대한 레이아웃입니다.
        display: flex; /* display 속성을 flex로 설정합니다. */
        flex-direction: column; /* 요소들을 위아래로 정렬합니다. */
        justify-content: space-between; /* 요소들을 위아래로 정렬합니다. */
        .info {
          width: 38rem;
          height: 28.8rem;
          border: solid black;
        }
        .nextRoutine {
          width: 38rem;
          height: 22.4rem;
          border: solid black;
        }
      }
    }
    .contentBottom {
      // 가장 아래에 들어가게 될 컴포넌트를 감싸는 레이아웃입니다.
      display: flex;
      .banner {
        width: 58rem;
        height: 24rem;
        border: solid black;
        margin-left: auto;
      }
    }
  }
}
