.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  background-color: rgb(223, 239, 239);
  padding: 0 4rem;
}

.filter {
  display: flex;
  & > li {
    padding: 0 1rem;
    margin: 0 1rem;
    cursor: pointer;
    &:hover {
      scale: 1.2;
    }
  }
}
