.container {
  display: flex;
  flex-direction: column;

  // background-color: aqua;
  width: 33.33%;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: aliceblue;
  section {
    display: flex;
    div {
      margin-left: 1rem;
    }
  }
}

.img {
  position: relative;
  width: 100%;
  height: 15rem;
}
