.calendar {
  width: 38rem;
  height: 52.8rem;
  border: 1px solid #ccc;
  padding: 1rem;
  font-family: 'Segoe UI', sans-serif;

  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    button {
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #e0e0e0;
      }
    }

    span {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 0.5rem;
      height: 8rem;
      text-align: center;
    }

    button {
      width: 100%;
      height: 100%;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      span {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    td button[style*='red'] {
      background-color: #ff9797;
    }

    td button[style*='gray'] {
      background-color: #e0e0e0;
    }
  }
}
