// src/styles/components/MonthYearSelector.module.scss

.monthYearSelector {
    display: inline-flex;
    align-items: center;

    select,
    input {
        font-size: 1.6rem;
        padding: 0.4rem 0.8rem;
        margin: 0 0.4rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        &:focus {
            border-color: #0070f3;
        }
    }
    input {
        width: 8rem;
    }
}
