.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  width: 120rem;
  height: 9.6rem;
  margin-bottom: 3.2rem;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 10px;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10rem;

  background-color: aliceblue;

  right: 0;
  top: 9.6rem;
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }
}

.logo {
  position: relative;
  width: 20rem;
  height: 6rem;

  margin-left: 1rem;
}

.input {
  padding: 1rem;
  outline: none;
}

.section {
  display: flex;
  margin-right: 2.5rem;
}

.icon {
  position: relative;
  width: 4.8rem;
  height: 4.8rem;
  margin-left: 1rem;
}
